.cold_offline_header_title{
	font-family: Avenir!important;
    font-size: 50px!important;
    color: rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #3e4ff3 0%,#3e6ee0 40%,#53afe7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header_label_div{
	height: 100% !important;
    background: transparent !important;
    font-weight: 400 !important;
}


.menu_item_active {
    color: rgba(255, 255, 255, 0.95) !important;
    border-color: #d4d4e0 !important;
    margin: 0 -1px 0 0 !important;
    font-family: Avenir!important;
    border-right: none !important;
    background: linear-gradient(90deg,#7d86e0,#789bec 40%,rgb(146, 175, 243))!important;
    font-weight: inherit !important;
    border: none !important;
}

.violet_label{
	background-color: #7551ca!important;
    border-color: #7551ca!important;
    color: #fff!important;
}

.light_blue_label{
	background-color: #58b0f1!important;
    border-color: #58b0f1!important;
    color: #fff!important;
}

.gray_purple_label{
	background-color: #748bd0!important;
    border-color: #748bd0!important;
    color: #fff!important;
}

.magenta_label{
	background-color: #9f66ca!important;
    border-color: #9f66ca!important;
    color: #fff!important;
}

.cold_offline_import_btn{
	background-color: #475db1 !important;
    font-family: Avenir!important;
    font-weight: 400 !important;
    color: white !important;
    margin-bottom: -1px !important;
    width: 100%;
}
.cold_offline_import_btn:hover{
	background-color: #657cd4 !important;
}

.cold_offline_import_card{
	box-shadow: 0 0 0 1px #d4d4d5,
				0 1px 14px 0 rgba(34,36,38,.12),
				0 12px 50px 0 rgba(34,36,38,.15) !important;
    border-radius: 1em !important;
    background: rgb(229, 236, 251)!important;
    width: 380px !important;
}

.cold_offline_paper_wallet_card{
	box-shadow: 0 0 0 0px #d4d4d5,
				0 1px 14px 0 rgba(34,36,38,.12),
				0 12px 50px 0 rgba(34,36,38,.15) !important;
    border-radius: 1em !important;
	background: linear-gradient(90deg,#bbbfe4,#adbfe8 40%,#aec4f7)!important;
	width: 380px !important;
	margin: -1px !important;
}
.ui.card.cold_offline_import_card>:last-child{
	border-radius: 0em 0em 1em 1em !important;
}

.ui.card.cold_offline_import_card>:first-child{
	border-radius: 1em 1em 0em 0em !important;
}

.cold_offline_import_list{
	max-height: 185px !important;
    overflow: scroll;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.account_name_input{
    text-align: center !important; 
}

.title_column{
	width: fit-content !important;
    display: inline-flex !important;
}

.paperwalletcanvas{
	width: 380px !important;
	background: linear-gradient(90deg,#bbbfe4,#adbfe8 40%,#aec4f7)!important;
	border-radius: 1em !important;
}

.register_wallet_labels{
	border-radius: 0px !important;
}

.ui.animated.button.qrcode_scan_btn {
	padding-right: inherit !important;
}

.qrcode_scan_btn{
	background-color: white !important;
	color: #475db1 !important;
}