@import "./MainView.css";
@import "./GoogleAuth.css";
@import "./ColdOfflineMainView.css";
@import "./Spacing.css";
@import "./QRScanModal.css";
@import "./HotWalletDashboard.css";
@import "./odometer-theme-minimal.css";
@import "./DockMenu.css";
@import "./Nodes.css";
@import "./WorldMap.css";
@import "./BackupKeys.css";
@import "./ConfModal.css";
@import "./Witnesses.css";
@import "./NodesList.css";
@import "./Spinner.css";
@import "./Freeze.css";
@import "./MobileAuthModal.css";
@import "./WatchOnlyMainView.css";
@import "./ColdOfflineDashboard.css";
@import "./TransactionQRModal.css";

.draggable{
	-webkit-app-region: drag;
}


html, body {
    height: 100% !important;
    margin: 0 !important;
    overflow: scroll;
	overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

img, button{
	-webkit-app-region: no-drag;
}

.blue_gradient_background{
	background: linear-gradient(10deg,rgba(57, 85, 187, 0.57),rgba(145, 163, 206, 0.4) 40%,rgba(139, 170, 228, 0.56));
	padding: 3em;
	position: fixed;
	height: 100%;
	width: 100%;
	overflow: auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

textarea:focus, input:focus{
    outline: none;
}

.text_align_center{
	text-align: center !important;
}
.text_align_right{
	text-align: right !important;
}
.text_align_left{
	text-align: left !important;
}
.wifi_icon_blue{
	color: #1e66da !important;
}
.mobileauth_icon_green{
	color: #528c39!important;
}
.mobileauth_icon_green_light{
	color: #83c765!important;
}
.status_label{
	background: rgba(0,0,0,0) !important;
}

.width_fit_content{
	width: fit-content !important;
}

.height_fit_content{
	height: fit-content !important;
}

.width_height_fit_content{
	width: fit-content !important;
	height: fit-content !important;
}

.height_0{
	height: 0 !important;
}
.width_0{
	width: 0 !important;
}

.width_100{
	width: 100% !important;
}
.height_100{
	height:100% !important;
}
.width_50{
	width: 50% !important;
}
.width_80{
	width: 80% !important;
}
.height_50{
	height:50% !important;
}

.width_auto{
	width: auto !important;
}
.height_auto{
	height: auto !important;
}
.vertical_center{
	position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border_radius_0{
	border-radius: 0 !important;
}

.rounded_corners{
	border-radius: 1em !important;
}
.top_left_border{
	border-top-left-radius: 1em !important;
}
.top_right_border{
	border-top-right-radius: 1em !important;
}
.bottom_left_border{
	border-bottom-left-radius: 1em !important;
}
.bottom_right_border{
	border-bottom-right-radius: 1em !important;
}

.top_left_border_0{
	border-top-left-radius: 0em !important;
}
.top_right_border_0{
	border-top-right-radius: 0em !important;
}
.bottom_left_border_0{
	border-bottom-left-radius: 0em !important;
}
.bottom_right_border_0{
	border-bottom-right-radius: 0em !important;
}


.all_borders{
	border: 1em !important;
}

.boxless{
	outline: none !important;
	box-shadow: none !important;
}

.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.over_margins{
	margin: -1px !important;
}

.hide {
  display: none !important;
}
.clearfix {
    overflow: auto !important;
}
.clearfix::after {
    content: "" !important;
    clear: both !important;
    display: table !important;
}

i.icon.paperplane:before {
    content: "\f1d8";
}

.color_white{
	color: white !important;
}

.center_button{
	display: flex !important;
    justify-content: center !important;
}

.flex_end{
	display: flex !important;
	justify-content: flex-end !important;
}

.ellipse_text{
	text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}

.display_inline_flex{
	display: inline-flex !important;
}

.overflow_hidden{
	overflow: hidden !important;
}

.color_red{
	color: red !important;
}
.color_green{
	color: green !important;
}
.background_transparent{
	background: transparent !important;
}

.cursor_pointer{
	cursor: pointer !important;
}
.proxima_semibold{
	font-family: proxima_nova_ltsemibold !important;
}
.blur{
	filter: blur(2px);
}

.position_sticky{
	position: sticky !important;
}

.width_95{
	width: 95% !important;
}

.font_size_large{
	font-size: large !important;
}

.naked_div{
	border: none !important;
    outline: 0 !important;
    margin: 0 !important;
    box-shadow: none !important;
}

.force_meta{
	color: rgba(0,0,0,.4) !important;
}

.center_canvas{
	margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

.ui.inverted.red.custom_red_conf_button.button, .ui.inverted.red.custom_red_conf_button.buttons .button{
	background-color: transparent;
    box-shadow: 0 0 0 2px #d01919 inset!important;
    color: #d01919 !important;
    border-color: #d01919 !important;
}
.ui.inverted.red.custom_red_conf_button.button:hover{
	background-color: #d01919 !important;
	color: white !important;
}

.leaf_green{
	background: #69bb41 !important;
	color: white !important;
}
.soft_red{
	background: #c34545 !important;
	color: white !important;
}

.tron_blue_color{
	color: #5176b9 !important;
}

.word_wrap{
	word-break: break-all !important;
    word-wrap: break-word !important;
}