.button_left{
	border-top-right-radius: 2em !important;
	border-bottom-right-radius: 2em !important;
	color: #ffffff!important;
	font-size: medium !important;
	
}
.button_left:hover{
	background-color: #9ac543 !important;
}

.button_right{
	border-top-left-radius: 2em !important;
	border-bottom-left-radius: 2em !important;
	color: #ffffff!important;
	font-size: medium !important;
}
.button_right:hover{
	background-color: #9ac543 !important;
}

.button_middle{
	border-radius: 2em !important;
	color: #ffffff!important;
	font-size: medium !important;
}
.button_middle:hover{
	background-color: #9ac543 !important;
}

#network_modal{
	height: fit-content;
}

.network_modal_buttons{
	display: table !important;
	position: absolute !important;
}

.custom_or:before{
	background-color: #e7ebff!important;
    color: #284ca5!important;
}

.status_icon_size{
	font-size: 2.5em !important;
}

.sky_blue_color{
	background-color: #5399f1 !important;
}